<footer class="footer-section">
   <div class="container">
  <div class="wrap">
         <div class="tablet-wrap">
            <a class="logo" href="">
               <svg class="logo-svg">
                  <use href="./img/sprite.svg#logo"></use>
               </svg>
            </a>
            <a class="address-link link" href="tel:+380684439426">+380 (68) 443-94-26</a>
            <a class="address-link link" href="https://goo.gl/maps/KFbrUntdbD3Jpun99" target="_blank" rel="noreferrer noopener">1678 S. Pioneer Road
               Salt Lake City UT 84104
            </a>
         </div>
            <ul class="nav-links-list">
               <li><a class="nav-link link" href="#about">About us</a></li>
               <li><a class="nav-link link" href="#watch-catalog">Catalog</a></li>
               <li><a class="nav-link link" href="#sale">Sale</a></li>
            </ul>
    <ul class="soc-list">
               <li class="soc-item">
                  <a class="soc-link" href="" target="_blank" rel="noreferrer noopener">
                     <svg class="soc-svg">
                        <use href="./img/sprite.svg#fb"></use>
                     </svg>
                  </a>
               </li>
               <li class="soc-item">
                  <a class="soc-link" href="" target="_blank" rel="noreferrer noopener">
                     <svg class="soc-svg">
                        <use href="./img/sprite.svg#ig"></use>
                     </svg>
                  </a>
               </li>
               <li class="soc-item">
                  <a class="soc-link" href="" target="_blank" rel="noreferrer noopener">
                     <svg class="soc-svg">
                        <use href="./img/sprite.svg#yt"></use>
                     </svg>
                  </a>
               </li>
            </ul>
  </div>
         <ul class="termins-list">
            <li class="terms-link">&#169;2022 The Watch Spot. All rights reserved.</li>
            <li>
               <div class="terms-list-wrap">
                  <a class="terms-link link" href="">Privacy Policy</a>
                  <a class="terms-link link" href="">Terms of Service</a>
               </div>
            </li>
         </ul>
   </div>
</footer>