<header class="header">
   <div class="container">
      <nav class="header__nav">
         <a class="header-logo" href="./index.html">
            <svg class="header-logo__svg">
               <use href="./img/sprite.svg#logo"></use>
            </svg>
            <span class="header-logo__span"> thewatchspot </span>
         </a>
         <button class="mobile-menu__open-btn" data-menu-open type="button">
            <svg class="burger-icon" width="24" height="24">
               <use href="./img/sprite.svg#menu"></use>
            </svg>
         </button>
         <ul class="header-list">
            <li class="header-list__item">
               <a class="header-list__text" href="#about">About us</a>
            </li>
            <li class="header-list__item">
               <a class="header-list__text" href="#catalog">Catalog</a>
            </li>
            <li class="header-list__item">
               <a class="header-list__text" href="#sale">Sale</a>
            </li>
         </ul>
      </nav>
      <address class="header__address">
         <a class="header__address-text" href="tel:+380684439426">+380 (68) 443-94-26</a>
      </address>
   </div>
   <div class="mobile-menu" data-menu>
      <div class="container">
         <div class="mobile-menu__wrapper">
            <a class="header-logo" href="./index.html">
               <svg class="header-logo__svg" width="19" height="19">
                  <use href="./img/sprite.svg#logo"></use>
               </svg>
               <span class="header-logo__span"> thewatchspot </span>
            </a>
            <button class="menu-mob__close-btn" data-menu-close type="button">
               <svg class="menu-mob__close-ico" width="24" height="24">
                  <use href="./img/sprite.svg#close"></use>
               </svg>
            </button>
         </div>
         <nav>
            <ul class="mobile-list">
               <li class="mobile-list__item">
                  <a class="mobile-list__text" href="#about">About us</a>
               </li>
               <li class="mobile-list__item">
                  <a class="mobile-list__text" href="#catalog">Catalog</a>
               </li>
               <li class="mobile-list__item">
                  <a class="mobile-list__text" href="#sale">Sale</a>
               </li>
            </ul>
         </nav>
      </div>
   </div>
</header>
