<section class="hero-bgr">
   <div class="conteiner">
   <h1 class="title-hero">Welcome to our collection of premium watches</h1>
   <div class="slider">
      <img src="./img/slider/slide-01.jpg" alt="watchimg" class="slide-bcg">
      <div class="position-pagin">
      <div class="nav-slider">
      <button type="button" class="slider-btn">
         <svg class="slider-go">
            <use> </use>
         </svg>
      </button>
      <button type="button" class="slider-btn">
          <svg class="slider-go">
            <use></use>
         </svg>
      </button>
      </div>
      <div class="line">
         <p class="text-line">01</p>
         <hr class="hr">
         <p class="text-line">05</p>
      </div>
      </div>
   </div>
   <p class="text-hero">Our watches are not just timepieces, but also an expression of your personality and lifestyle. From classic designs to modern ones, we have a watch to suit every taste and occasion.</p>
   <picture class="hero-img">
      <source srcset="" type="imade/webp">
      <source srcset="" type="imade/jpeg">
   <img src="./img/slider/slide-01.jpg" alt="watch on hand">
   </picture>
   </div>
</section>