<section class="hero">
   <div class="container">
      <div class="slider-position-tabl">
         <h1 class="title-hero">Welcome to our collection of premium watches</h1>
         <div class="slider swiper mySwiper">
            <div class="slide-bcg swiper-wrapper">
               <picture class="slide-img swiper-slide">
                  <source media="(min-width:375px)" srcset="./img/slider/slide-01@2x.webp 2x, ./img/slider/slide-01.webp 1x" type="image/webp">
                  <source media="(min-width:375px)" srcset="./img/slider/slide-01.jpg 1x, ./img/slider/slide-01@2x.jpg 2x" type="image/jpeg">
                  <img src="./img/slider/slide-01.jpg" alt="watchimg" class="slide-img">
               </picture>
               <picture class="slide-img slide-bcg swiper-slide">
                  <source media="(min-width:375px)" srcset="./img/slider/slide-02@2x.webp 2x, ./img/slider/slide-02.webp 1x" type="image/webp">
                  <source media="(min-width:375px)" srcset="./img/slider/slide-02.jpg 1x, ./img/slider/slide-02@2x.jpg 2x" type="image/jpeg">
                  <img src="./img/slider/slide-01.jpg" alt="watchimg" class="slide-img">
               </picture>
               <picture class="slide-img slide-bcg swiper-slide">
                  <source media="(min-width:375px)" srcset="./img/slider/slide-03@2x.webp 2x, ./img/slider/slide-03.webp 1x" type="image/webp">
                  <source media="(min-width:375px)" srcset="./img/slider/slide-03.jpg 1x, ./img/slider/slide-03@2x.jpg 2x" type="image/jpeg">
                  <img src="./img/slider/slide-01.jpg" alt="watchimg" class="slide-img">
               </picture>
               <picture class="slide-img slide-bcg swiper-slide">
                  <source media="(min-width:375px)" srcset="./img/slider/slide-04@2x.webp 2x, ./img/slider/slide-04.webp 1x" type="image/webp">
                  <source media="(min-width:375px)" srcset="./img/slider/slide-04.jpg 1x, ./img/slider/slide-04@2x.jpg 2x" type="image/jpeg">
                  <img src="./img/slider/slide-01.jpg" alt="watchimg" class="slide-img">
               </picture>
               <picture class="slide-img slide-bcg swiper-slide">
                  <source media="(min-width:375px)" srcset="./img/slider/slide-05@2x.webp 2x, ./img/slider/slide-05.webp 1x" type="image/webp">
                  <source media="(min-width:375px)" srcset="./img/slider/slide-05.jpg 1x, ./img/slider/slide-05@2x.jpg 2x" type="image/jpeg">
                  <img src="./img/slider/slide-01.jpg" alt="watchimg" class="slide-img">
               </picture>
            </div>
            <div class="position-pagin">
               <div class="nav-slider">
                  <button type="button" class="slider-btn left-btn button-prev">
                     <svg class="slider-go">
                        <use href="./img/sprite.svg#left" class="rl"></use>
                     </svg>
                  </button>
                  <button type="button" class="slider-btn button-next">
                     <svg class="slider-go">
                        <use href="./img/sprite.svg#right" class="rl"></use>
                     </svg>
                  </button>
               </div>
               <div class="line swiper-pagination">
                  <span class="currentSlide"></span>
                  <span class="long-dash"></span>
                  <span class="totalSlide"></span>
               </div>
            </div>
         </div>
         <p class="text-hero">
            Our watches are not just timepieces, but also an expression of your personality and lifestyle. From classic
            designs to modern ones, we have a watch to suit every taste and occasion.
         </p>

         <picture class="hero-img">
            <source media="(max-width:767px)" srcset="./img/hero/hero-mob.webp 1x, ./img/hero/hero-mob@2x.jpg 2x" type="image/webp">
            <source media="(max-width:767px)" srcset="./img/hero/hero-mob.jpg 1x, ./img/hero/hero-mob@2x.jpg 2x" type="image/jpeg">
            <source media="(min-width:1279px)" srcset="./img/hero/hero-tab.webp 1x, ./img/hero/hero-tab@2x.webp 2x" type="image/webp">
            <source media="(min-width:1279px)" srcset="./img/hero/hero-tab.jpg 1x, ./img/hero/hero-tab@2x.jpg 2x" type="image/jpeg">
            <source media="(min-wdth:1280px)" srcset="./img/hero/hero-dsk.webp 1x, ./img/hero/hero-dsk@2x.webp 2x" type="imade/webp">
            <source media="(min-wdth:1280px)" srcset="./img/hero/hero-dsk.jpg 1x, ./img/hero/hero-dsk@2x.jpg" type="imade/jpeg">
            <img src="./img/hero/hero-dsk.jpg" alt="watch on hand" class="hero-img">
         </picture>
      </div>
   </div>
</section>
