<section class="new-watches-container container">
   <h2 class="new-watches-title">New watches</h2>
   <h3 class="new-watches-after-title">Green And Bronze—The Match Made In Heaven</h3>
   <ul class="new-watches-list list">
      <li class="new-watches-item">
         <picture>
            <source
               srcset="./img/novelty/novelty1-mob.webp 1x, ./img/novelty/novelty1-mob@2x.webp 2x"
               media="(max-width: 767px)"
               type="image/webp"
            />
            <source
               srcset="./img/novelty/novelty1-tab.webp 1x, ./img/novelty/novelty1-tab@2x.webp 2x"
               media="(max-width: 1279px)"
               type="image/webp"
            />
            <source
               srcset="./img/novelty/novelty1-dsk.jpg 1x, ./img/novelty/novelty1-dsk@2x.jpg 2x"
               media="(min-width: 1280px)"
               type="image/jpeg"
            />
            <img class="new-watches-img" src="./img/novelty/novelty1-dsk.jpg" alt="watch in arm" width="335" />
         </picture>
      </li>
      <li class="new-watches-item">
         <picture>
            <source
               srcset="./img/novelty/novelty2-mob.webp 1x, ./img/novelty/novelty2-mob@2x.webp 2x"
               media="(max-width: 767px)"
               type="image/webp"
            />
            <source
               srcset="./img/novelty/novelty2-tab.webp 1x, ./img/novelty/novelty2-tab@2x.webp 2x"
               media="(max-width: 1279px)"
               type="image/webp"
            />
            <source
               srcset="./img/novelty/novelty2-dsk.jpg 1x, ./img/novelty/novelty2-dsk@2x.jpg 2x"
               media="(min-width: 1280px)"
               type="image/jpeg"
            />
            <img class="new-watches-img" src="./img/novelty/novelty2-dsk.jpg" alt="black modern watch" width="335" />
         </picture>
      </li>
   </ul>
</section>
