<!-- temp <button> -->
<button data-modal-open type="button" class="order-btn btn">Order Service</button>

<!-- order service modal window -->
<div class="backdrop is-hidden" data-backdrop>
   <div class="modal">
       <button data-modal-close class="close-btn" aria-label="Close window" type="button">
           <svg class="icon"><use href="./img/sprite.svg#close"></use></svg>
       </button>
       <h2 class="invisible">purchase registration</h2>
       <ul class="cart list">
         <li class="item">
                  <picture class="catalog-item-picture">
                     <source srcset="./img/catalog/watch-01.webp 1x, ./img/catalog/watch-01@2x.webp 2x" type="image/webp" />
                     <source srcset="./img/catalog/watch-01.jpg 1x, ./img/catalog/watch-01@2x.jpg 2x" type="image/jpeg" />
                     <img src="./img/catalog/watch-01.jpg" alt="photo of the watch">
                  </picture>
               <p class="catalog-item-title">Tube Watch S42 Date Steel With Black Case</p>
               <p class="catalog-item-price">€395</p>
         </li>
       </ul>
       <form name="order" autocomplete="on" class="order">
           <label class="form-label">
               <span class="order-label">Full name</span>
               <input type="text" class="input" name="name" placeholder="Enter your full name"/>
               <!-- <svg class="order-icon"><use href="./images/sprite.svg#user"></use></svg> -->
           </label>
           <label class="form-label">
               <span class="order-label">Email</span>
               <input type="email" class="input" name="email" placeholder="Enter your email"/>
               <!-- <svg class="order-icon"><use href="./images/sprite.svg#mail"></use></svg> -->
           </label>
           <label class="form-label">
               <span class="order-label">Card number</span>
               <input type="tel" class="input" name="ccn" placeholder="Enter card"/>
               <!-- <svg class="order-icon"><use href="./images/sprite.svg#oldphone"></use></svg> -->
           </label>
           <label class="comment">
               <span class="label">Comments</span>
               <textarea class="textarea" name="feedback" rows="7" placeholder="Enter your text"></textarea>
             </label>
             <!-- <label class="checkbox">
               <input class="check invisible" type="checkbox" name="accept" value="accept" />
               <span class="galka"><svg class="icon"><use href="./images/sprite.svg#check"></use></svg></span>
               <span class="label">I accept the terms and conditions of the <a href="">Privacy Policy</a></span>
             </label> -->
             <button type="submit" class="submit-btn btn">Submit</button>
             <p class="agree">By clicking on “Submit” button, you agree to our Privacy Policy, and allow Promodo to use this information for marketing purposes.</p>
       </form>
   </div>
</div>

<!-- footer address -->
<!-- https://goo.gl/maps/PWJzWxcX54bp4CUm7 -->
