<!-- temp <button> -->
<button data-modal-open type="button" class="order-btn btn">Order Service</button>

<!-- order service modal window -->
<div class="backdrop is-hidden" data-backdrop>
   <div class="modal">
       <button data-modal-close class="close-btn" aria-label="Close window" type="button">
           <svg class="icon"><use href="./img/sprite.svg#close"></use></svg>
       </button>
       <h2 class="invisible">purchase registration</h2>
       <div class="order-slider slider swiper cartSwiper">
        <ul class="cart list swiper-wrapper">
            <li class="item  swiper-slide"  id="art01" data-card>
                     <picture class="catalog-item-picture">
                        <source srcset="./img/catalog/watch-01.webp 1x, ./img/catalog/watch-01@2x.webp 2x" type="image/webp">
                        <source srcset="./img/catalog/watch-01.jpg 1x, ./img/catalog/watch-01@2x.jpg 2x" type="image/jpeg">
                        <img src="./img/catalog/watch-01.jpg" alt="photo of the watch">
                     </picture>
                  <p class="catalog-item-title">Tube Watch S42 Date Steel With Black Case</p>
                  <p class="catalog-item-price">€395</p>
            </li>
            <li class="item swiper-slide"  id="art02" data-card>
                     <picture class="catalog-item-picture">
                        <!-- ВИПРАВИТИ НА 02 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
                        <source srcset="./img/catalog/watch-03.webp 1x, ./img/catalog/watch-02@2x.webp 2x" type="image/webp">
                        <source srcset="./img/catalog/watch-02.jpg 1x, ./img/catalog/watch-02@2x.jpg 2x" type="image/jpeg">
                        <img src="./img/catalog/watch-02.jpg" alt="photo of the watch">
                     </picture>
                  <p class="catalog-item-title">Avondale Watch Police For Men</p>
                  <p class="catalog-item-price">€800</p>
            </li>
            <li class="item swiper-slide"  id="art03" data-card>
                     <picture class="catalog-item-picture">
                        <source srcset="./img/catalog/watch-03.webp 1x, ./img/catalog/watch-03@2x.webp 2x" type="image/webp" />
                        <source srcset="./img/catalog/watch-03.jpg 1x, ./img/catalog/watch-03@2x.jpg 2x" type="image/jpeg" />
                        <img src="./img/catalog/watch-03.jpg" alt="photo of the watch">
                     </picture>
                  <p class="catalog-item-title">Diver 300M Co-Axial Master Chronometer Chronograph</p>
                  <p class="catalog-item-price">€600</p>
            </li>
            <li class="item swiper-slide"  id="art04" data-card>
                     <picture class="catalog-item-picture">
                        <source srcset="./img/catalog/watch-04.webp 1x, ./img/catalog/watch-04@2x.webp 2x" type="image/webp" />
                        <source srcset="./img/catalog/watch-04.jpg 1x, ./img/catalog/watch-04@2x.jpg 2x" type="image/jpeg" />
                        <img src="./img/catalog/watch-04.jpg" alt="photo of the watch">
                     </picture>
                  <p class="catalog-item-title">Diver 300M Co-Axial Master Chronometer</p>
                  <p class="catalog-item-price">€1400</p>
            </li>
            <li class="item swiper-slide"  id="art05" data-card>
                     <picture class="catalog-item-picture">
                        <source srcset="./img/catalog/watch-05.webp 1x, ./img/catalog/watch-05@2x.webp 2x" type="image/webp" />
                        <source srcset="./img/catalog/watch-05.jpg 1x, ./img/catalog/watch-05@2x.jpg 2x" type="image/jpeg" />
                        <img src="./img/catalog/watch-05.jpg" alt="photo of the watch">
                     </picture>
                  <p class="catalog-item-title">Taman Watch By Police For Men</p>
                  <p class="catalog-item-price">€500</p>
            </li>
            <li class="item swiper-slide"  id="art06" data-card>
                     <picture class="catalog-item-picture">
                        <source srcset="./img/catalog/watch-06.webp 1x, ./img/catalog/watch-06@2x.webp 2x" type="image/webp" />
                        <source srcset="./img/catalog/watch-06.jpg 1x, ./img/catalog/watch-06@2x.jpg 2x" type="image/jpeg" />
                        <img src="./img/catalog/watch-06.jpg" alt="photo of the watch">
                     </picture>
                  <p class="catalog-item-title">Malawi Watch Police For Men</p>
                  <p class="catalog-item-price">€555</p>
            </li>
            <li class="item swiper-slide"  id="art07" data-card>
                     <picture class="catalog-item-picture">
                        <source srcset="./img/catalog/watch-07.webp 1x, ./img/catalog/watch-07@2x.webp 2x" type="image/webp" />
                        <source srcset="./img/catalog/watch-07.jpg 1x, ./img/catalog/watch-07@2x.jpg 2x" type="image/jpeg" />
                        <img src="./img/catalog/watch-07.jpg" alt="photo of the watch">
                     </picture>
                  <p class="catalog-item-title">Diver 300M Co-Axial Master Chronometer</p>
                  <p class="catalog-item-price">€1200</p>
            </li>
            <li class="item swiper-slide"  id="art08" data-card>
                     <picture class="catalog-item-picture">
                        <source srcset="./img/catalog/watch-08.webp 1x, ./img/catalog/watch-08@2x.webp 2x" type="image/webp" />
                        <source srcset="./img/catalog/watch-08.jpg 1x, ./img/catalog/watch-08@2x.jpg 2x" type="image/jpeg" />
                        <img src="./img/catalog/watch-08.jpg" alt="photo of the watch">
                     </picture>
                  <p class="catalog-item-title">Greenlane Watch By Police For Men</p>
                  <p class="catalog-item-price">€1000</p>
            </li>
            <li class="item swiper-slide"  id="art09" data-card>
                     <picture class="catalog-item-picture">
                        <source srcset="./img/catalog/watch-09.webp 1x, ./img/catalog/watch-09@2x.webp 2x" type="image/webp" />
                        <source srcset="./img/catalog/watch-09.jpg 1x, ./img/catalog/watch-09@2x.jpg 2x" type="image/jpeg" />
                        <img src="./img/catalog/watch-09.jpg" alt="photo of the watch">
                     </picture>
                  <p class="catalog-item-title">Squardrc 5402 Chrono</p>
                  <p class="catalog-item-price">€359</p>
            </li>
            <li class="item swiper-slide"  id="art10" data-card>
                     <picture class="catalog-item-picture">
                        <source srcset="./img/catalog/watch-10.webp 1x, ./img/catalog/watch-10@2x.webp 2x" type="image/webp">
                        <source srcset="./img/catalog/watch-10.jpg 1x, ./img/catalog/watch-10@2x.jpg 2x" type="image/jpeg">
                        <img src="./img/catalog/watch-10.jpg" alt="photo of the watch">
                     </picture>
                  <p class="catalog-item-title">Diver 300M Co-Axial Master Chronometer Chronograph</p>
                  <p class="catalog-item-price">€400</p>
            </li>
            <li class="item swiper-slide"  id="art11" data-card>
                     <picture class="catalog-item-picture">
                        <source srcset="./img/catalog/watch-11.webp 1x, ./img/catalog/watch-11@2x.webp 2x" type="image/webp">
                        <source srcset="./img/catalog/watch-11.jpg 1x, ./img/catalog/watch-11@2x.jpg 2x" type="image/jpeg">
                        <img src="./img/catalog/watch-11.jpg" alt="photo of the watch">
                     </picture>
                  <p class="catalog-item-title">Citizen</p>
                  <p class="catalog-item-price">€519</p>
            </li>
            <li class="item swiper-slide"  id="art12" data-card>
                     <picture class="catalog-item-picture">
                        <source srcset="./img/catalog/watch-12.webp 1x, ./img/catalog/watch-12@2x.webp 2x" type="image/webp" >
                        <source srcset="./img/catalog/watch-12.jpg 1x, ./img/catalog/watch-12@2x.jpg 2x" type="image/jpeg">
                        <img src="./img/catalog/watch-12.jpg" alt="photo of the watch">
                     </picture>
                  <p class="catalog-item-title">Armani Exchange</p>
                  <p class="catalog-item-price">€400</p>
            </li>
          </ul>
       </div>
       <form name="order" autocomplete="on" class="order">
           <label class="form-label">
               <span class="order-label">Full name</span>
               <input type="text" class="input" name="name" placeholder="Enter your full name" required>
               <!-- <svg class="order-icon"><use href="./images/sprite.svg#user"></use></svg> -->
           </label>
           <label class="form-label">
               <span class="order-label">Email</span>
               <input type="email" class="input" name="email" placeholder="Enter your email" required>
               <!-- <svg class="order-icon"><use href="./images/sprite.svg#mail"></use></svg> -->
           </label>
           <label class="form-label">
               <span class="order-label">Card number</span>
               <input type="tel" class="input" name="ccn" placeholder="Enter card" required>
               <!-- <svg class="order-icon"><use href="./images/sprite.svg#oldphone"></use></svg> -->
           </label>
           <label class="comment">
               <span class="label">Comments</span>
               <textarea class="textarea" name="feedback" rows="7" placeholder="Enter your text"></textarea>
             </label>
             <button type="submit" class="submit-btn btn">Submit</button>
             <p class="agree">By clicking on “Submit” button, you agree to our Privacy Policy, and allow Promodo to use this information for marketing purposes.</p>
       </form>
   </div>
</div>

<!-- footer address -->
<!-- https://goo.gl/maps/PWJzWxcX54bp4CUm7 -->
