.about-section {
   padding-top: 40px;
   display: flex;
}
@media screen and (min-width: 768px) {
   .about-section {
      padding-top: 64px;
   }
}
@media screen and (min-width: 1200px) {
   .about-section {
      padding-top: 80px;
   }
}
.about-information {
   display: block;
}
@media screen and (min-width: 768px) {
   .about-information {
      flex-wrap: nowrap;
      display: flex;
   }
}
@media screen and (min-width: 1200px) {
   .about-information {
      flex-wrap: nowrap;
      display: flex;
   }
}
.about-title {
   font-size: 32px;
   line-height: 1.25;
   letter-spacing: -0.02em;
   margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
   .about-title {
      margin-right: 40px;
      white-space: nowrap;
   }
}
@media screen and (min-width: 1200px) {
   .about-title {
      margin-right: 125px;
      width: auto;
      white-space: nowrap;
   }
}
.about-list {
   display: flex;
   align-items: center;
   flex-direction: column;
   gap: 20px;
   margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
   .about-list {
      flex-direction: row;
   }
}
@media screen and (min-width: 1280px) {
   .about-list {
      gap: 40px;
   }
}

@media screen and (min-width: 768px) {
   .about-text {
      flex-direction: row;
   }
}
@media screen and (min-width: 1280px) {
   .about-text {
      flex-wrap: nowrap;
   }
}
.watch-about {
   width: 335px;
   height: 300px;
   display: block;
   height: 365px;
   width: auto;
   object-fit: cover;
}
@media screen and (min-width: 768px) {
   .watch-about {
      width: 704px;
      height: 465px;
   }
}
@media screen and (min-width: 1280px) {
   .watch-about {
      width: 915px;
      height: 520px;
      float: right;
   }
}
