.catalog-container{
   padding-bottom: 80px;
}

.section-title {
   margin-bottom: 40px;
   line-height: 1.25;
   letter-spacing: -0.02em;
   color: var(--dark);
   font-size: 32px;
   font-weight: 600;
}
/**--------------THE CARD  */
.catalog-card {
position: relative;
margin: 0 auto;
top: 0;
left: 0;
width: 335px;
height: 410px;
/* border-radius: 10px; */
transform-style: preserve-3d;
transition: all var(--cubic);}

/**-----------------FRONT CARD  */
.picture-wrap {
 width: 100%;
  position: absolute;
  backface-visibility: hidden;
  overflow: hidden;
}

.img-thumb{
padding-top: 43px;
padding-bottom: 43px;
margin-bottom: 14px
}

.catalog-item-picture {
   display: block;
   margin: 0 auto;
   width: 276px;
   height: 274px;
}

.catalog-item:not(:last-child) {
   margin-bottom: 40px;
}

.catalog-item-title {
   display: block;
   margin-bottom: 4px;
   overflow: hidden;
   text-overflow: ellipsis;
   letter-spacing: -0.02em;
   white-space: nowrap;
   color: var(--blacky);
   font-weight: 400;
}

.catalog-item-price {
   line-height: 1.17;
   letter-spacing: -0.02em;
   color: var(--grizzly);
   font-size: 12px;
   font-weight: 400;
}

.catalog-btn {
   display: block;
   margin-left: auto;
   border: none;
   border-radius: 8px;
   background: var(--dark);
   padding: 14px 28px;
   text-align: center;
   text-transform: uppercase;
   line-height: 1.17;
   color:var(--white);
   font-size: 12px;
}

/*++++++++++++++++++*/
.catalog-card-cover {
   position: absolute;
   top: 0;
   width: 100%;
   height: 100%;
   border: none;
   border-radius: 8px;
   background-color: var(--dark);
   padding: 40px;
   backface-visibility: hidden;
  overflow: hidden;
  text-align: center;
  transform: rotateY(180deg);
}

.catalog-cover-title {
   margin-bottom: 10px;
   text-transform: uppercase;
   letter-spacing: -0.02em;
   color:var(--white);
}

.catalog-cover-text,
.catalog-cover-list {
   letter-spacing: -0.01em;
   color: rgba(255, 255, 255, 0.5);
}

.catalog-cover-text {
   margin-bottom: 20px;
}

/* ---==== added by dolphin ====--- */
.not-ordered{
   display: none;
}

.catalog-item{
   position: relative;
}
.cart-btn{
   position: absolute;
   z-index: 1;
   top: 14px;
   right: 14px;
   width: 24px;
   height: 24px;
   cursor: pointer;
   stroke: var(--blacky);
   stroke-opacity: 0.5;
   fill: var(--white);
   background-color: transparent;
   border: none;
   transition: fill var(--cubic);
}
.cart-btn .icon {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 24px;
   height: 24px;
   transform: translate(-50%, -50%);
}

.cart-btn:hover, .cart-btn:focus,
.cart-btn-chk {
   fill: var(--gamboge);
   /* fill-opacity: 0.5; */
}
/* ---==== /added by dolphin ====--- */

/*+++++++++++++++++++*/

@media screen and (max-width: 1279px) {
   .catalog-item:not(:nth-child(-n + 8)) {
      display: none;
   }
}

@media screen and (min-width: 375px) {
}

@media screen and (min-width: 768px) {
   .catalog-container {
   padding-bottom: 128px;
   }
.section-title {
font-weight: 600;
font-size: 40px;
line-height: 1.1;
letter-spacing: -0.02em;}

   .catalog-card {
      width: 336px;
   }

   .catalog-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 40px 32px;
      margin-bottom: 40px;
   }

   .catalog-btn {
      padding: 18px 35px;
   }

   .catalog-item:not(:last-child) {
      margin-bottom: 0;
   }
}

@media screen and (min-width: 1280px) {
   .catalog-container {
       padding-bottom: 80px;
   }

   .section-title {
      margin-bottom: 64px;
   }

   .catalog-card {
      position: relative;
      width: 276px;
      height: 375px;
      transform-style: preserve-3d;
      transition: all 250ms ease;
   }
   .catalog-card:hover{
  transform: rotateY(180deg);
}
.img-thumb{
   padding-top: 26px;
   padding-bottom: 26px;
}

   .catalog-card-cover {
      padding: 20px;
      text-align: start;
   }

   .catalog-list {
      gap: 64px 24px;
      margin-bottom: 80px;
   }
}
