.catalog .container {
   margin: 0 auto;
}

.catalog {
   padding-bottom: 80px;
}

.section-title {
   margin-bottom: 40px;
   line-height: 1.25;
   letter-spacing: -0.02em;
   color: #1e2827;
   font-size: 32px;
   font-weight: 600;
   font-style: normal;
}

.catalog-card {
   max-width: 336px;
   display: block;
   padding-top: 43px;
}

.picture-wrap {
   position: relative;
   overflow: hidden;
   margin-bottom: 57px;
}

.catalog-item-picture {
   display: block;
   margin: 0 auto;
   width: 276px;
   height: 274px;
}

.catalog-item:not(:last-child) {
   margin-bottom: 40px;
}

.catalog-item-title {
   display: block;
   margin-bottom: 4px;
   overflow: hidden;
   text-overflow: ellipsis;
   line-height: 1.29;
   letter-spacing: -0.02em;
   white-space: nowrap;
   color: #141414;
   font-size: 14px;
   font-weight: 400;
}

.catalog-item-price {
   line-height: 1.17;
   letter-spacing: -0.02em;
   color: rgba(20, 20, 20, 0.5);
   font-size: 12px;
   font-weight: 400;
}

/*.catalog-title-wrap {
}*/

.catalog-btn {
   display: block;
   margin-left: auto;
   border: none;
   border-radius: 8px;
   background: #1e2827;
   padding: 14px 28px;
   text-align: center;
   text-transform: uppercase;
   line-height: 1.17;
   color: #ffffff;
   font-size: 12px;
}

/*++++++++++++++++++*/
.catalog-card-cover {
   position: absolute;
   top: 0;
   width: 100%;
   height: 100%;
   border: none;
   border-radius: 8px;
   background-color: #1e2827;
   padding: 40px;
   transform: translateY(100%);
   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.catalog-item:hover .catalog-card-cover,
.catalog-item:focus .catalog-card-cover {
   transform: translateY(0%);
}

.catalog-cover-title {
   margin-bottom: 10px;
   text-transform: uppercase;
   line-height: 1.29;
   letter-spacing: -0.02em;
   color: #ffffff;
   font-size: 14px;
}

.catalog-cover-text,
.catalog-cover-list {
   line-height: 1.29;
   letter-spacing: -0.01em;
   color: rgba(255, 255, 255, 0.5);
   font-size: 14px;
}

.catalog-cover-text {
   margin-bottom: 20px;
}

/* ---==== added by dolphin ====--- */
.not-ordered {
   display: none;
}

.catalog-item {
   position: relative;
}
.cart-btn {
   position: absolute;
   z-index: 77;
   top: 14px;
   right: 14px;
   width: 24px;
   height: 24px;
   cursor: pointer;
   stroke: #141414;
   stroke-opacity: 0.5;
   fill: var(--white);
   background-color: transparent;
   border: none;
   transition: fill var(--cubic);
}
.cart-btn .icon {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 24px;
   height: 24px;
   transform: translate(-50%, -50%);
}

.cart-btn:hover,
.cart-btn:focus {
   fill: var(--golden);
}
.cart-btn-chk,
.cart-btn-chk.cart-btn:focus {
   fill: var(--cherry);
   /* fill-opacity: 0.5; */
}
/* ---==== /added by dolphin ====--- */

/*+++++++++++++++++++*/

@media screen and (max-width: 1279px) {
   .catalog-item:not(:nth-child(-n + 8)) {
      display: none;
   }
}

@media screen and (min-width: 375px) {
}

@media screen and (min-width: 768px) {
   .catalog .container {
      /*width: 768px;*/
   }

   .catalog {
      padding-bottom: 128px;
   }

   .catalog-card {
      width: 336px;
   }

   .catalog-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 40px 32px;
   }

   .catalog-btn {
      padding: 18px 35px;
   }

   .catalog-item:not(:last-child) {
      margin-bottom: 0;
   }
}

@media screen and (min-width: 1280px) {
   .catalog .container {
      /*width: 1280px;*/
   }

   .catalog {
      padding-bottom: 160px;
   }

   .section-title {
      margin-bottom: 64px;
   }

   .catalog-card {
      width: 276px;
      padding-top: 26px;
   }

   .catalog-card-cover {
      padding: 26px 20px 20px 20px;
   }

   .catalog-list {
      gap: 64px 24px;
   }

   .picture-wrap {
      margin-bottom: 25px;
   }

   .catalog-item:not(:nth-child(-n + 8)) {
      margin-bottom: 80px;
   }
}
