/* ========== Header ========== */
/* .burger-icon {
   fill: white;
   stroke: white;
} */
/* .container {
   width: 100%;
   padding-left: 20px;
   padding-right: 20px;
   margin: 0 auto;
} */
.header {
   position: absolute;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 1;
   padding-top: 29px;
   background: transparent;
}
.header-logo {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   color: var(--white);
   transition: color var(--cubic);
}
.header-logo__span {
   padding-top: 3px;
   font-size: 12px;
   line-height: 1;
   letter-spacing: -0.03em;
}
.header-logo__svg {
   fill: white;
   width: 14px;
   height: 14px;
   margin-right: 4px;
   transition: fill var(--cubic);
}
.header-logo:hover,
.header-logo:focus {
   color: var(--golden);
}
.header-logo:active {
   color: var(--gamboge);
}
.header-logo:hover .header-logo__svg,
.header-logo:focus .header-logo__svg {
   fill: var(--golden);
}
.header-logo:active .header-logo__svg {
   fill: var(--gamboge);
}
.header-list {
   display: none;
}
.header__address {
   display: none;
}
.header__address-text {
   transition: color var(--cubic);
}
.header__address-text:hover,
.header__address-text:focus {
   color: var(--golden);
}
.header__address-text:active {
   color: var(--gamboge);
}
.header__nav {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.header-list__text {
   transition: all var(--cubic);
}
.header-list__text::before {
   opacity: 0;
   content: '';
   position: absolute;
   display: block;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 4px;
   border-radius: 2px;
   background-color: var(--golden);
   transition: opacity var(--cubic), background-color var(--cubic);
}
.header-list__text:hover,
.header-list__text:focus {
   color: var(--golden);
}
.header-list__text:active {
   color: var(--gamboge);
}
.header-list__text:hover::before,
.header-list__text:focus::before {
   opacity: 1;
}
/* .header-list__text:hover::after,
.header-list__text:focus::after {
   content: '';
   position: absolute;
   display: block;
   left: 0;
   bottom: -15px;
   width: 100%;
   height: 4px;
   border-radius: 2px;
   background-color: var(--golden);
} */
.header-list__text:active::before {
   background-color: var(--gamboge);
}
/* ========== Mobile Menu ========== */
.mobile-menu {
   width: 375px;
   height: 100%;
   position: fixed;
   top: 0;
   right: -375px;
   z-index: 1;
   padding-top: 30px;
   padding-left: 20px;
   padding-right: 20px;
   background-color: var(--dark);
   transition: opacity var(--cubic), visibility var(--cubic);
   transform: translateX(0);
   transition-property: transform;
   transition-duration: 250ms;
}
.mobile-menu__open-btn {
   width: 24px;
   height: 24px;
   background-color: transparent;
   border: none;
}
.burger-icon {
   fill: white;
   transition: fill var(--cubic);
}
.burger-icon:hover,
.burger-icon:focus {
   fill: var(--golden);
}
.burger-icon:active {
   fill: var(--gamboge);
}
.menu-mob__close-btn {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: transparent;
   border: none;
}
.menu-mob__close-ico {
   stroke: white;
   transition: stroke var(--cubic);
}
.menu-mob__close-ico:hover,
.menu-mob__close-ico:focus {
   stroke: var(--golden);
}
.menu-mob__close-ico:active {
   stroke: var(--gamboge);
}
.mobile-menu__wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 200px;
}
.mobile-list {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 14px;
}
.mobile-list__text {
   letter-spacing: -0.02em;
   text-transform: uppercase;
   color: var(--white);
   transition: color var(--cubic);
}
.mobile-list__text:hover,
.mobile-list__text:focus {
   color: var(--golden);
}
.mobile-list__text:active {
   color: var(--gamboge);
}

@media screen and (max-width: 374px) {
   .mobile-menu {
      width: auto;
   }
}
/* @media screen and (min-width: 375px) {
   .container {
      width: 375px;
   }
} */
@media screen and (max-width: 767px) {
   .mobile-menu {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
   }
   .mobile-menu.is-open {
      opacity: 1;
      transform: translateX(-375px);
      visibility: visible;
      pointer-events: auto;
   }
}
@media screen and (min-width: 768px) {
   header .container {
      display: flex;
      justify-content: space-between;
   }
   .mobile-menu {
      display: none;
   }
   .mobile-menu__open-btn {
      display: none;
   }
   .header {
      padding-top: 20px;
   }
   .header__nav {
      width: auto;
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 80px;
   }
   .header-logo__span {
      font-size: 15px;
   }
   .header-logo__svg {
      width: 19px;
      height: 19px;
   }
   .header-list {
      display: flex;
      gap: 40px;
      height: 100%;
   }
   .header-list__item {
      height: 100%;
      display: flex;
      align-items: center;
   }
   .header-list__text {
      position: relative;
      display: flex;
      align-items: center;
      height: 100%;
      font-size: 9px;
      line-height: 1.33;
      text-align: center;
      text-transform: uppercase;
      color: var(--white);
   }
   .header__address {
      display: inline-block;
      background-color: var(--dark);
      border-radius: 8px;
   }
   .header__address-text {
      display: inline-block;
      padding: 18px 35px;
      font-size: 9px;
      line-height: 1.33;
      text-align: center;
      text-transform: uppercase;
      color: var(--white);
   }
}

/* For Menu an Swiper Conflict */
.swiper,
.swiper-container {
   z-index: 0;
}
