.conteiner {
   width: 100%;
   padding: 122px 20px 40px;
   margin-left: auto;
   margin-right: auto;
   }

.title-hero {
   width: 100%;
   margin-bottom: 60px;
   margin-right: auto;
   font-family: 'Epilogue';
   font-style: normal;
   font-weight: 600;
   font-size: 38px;
   line-height: 1.05;
   color: var(--white);
   }
   
.slide-bcg{
   background-color: var(--dark);
   width: 100%;
   margin-bottom: 20px;
   }
  .slider{
      margin-bottom: 40px;
   }
.text-hero{
   width: 100%;
   margin-bottom: 40px;
   margin-left: auto;
   font-family: 'Epilogue';
   font-style: normal;
   font-weight: 300;
   font-size: 14px;
   line-height: calc(18/14)   ;
  
   letter-spacing: -0.02em;

   color: var(--white);
   }
.hero-bgr {
   width: 100%;
   background-color: var(--black);
}
.slider-btn{
   width: 32px;
   height: 32px;
   background-color: transparent;


   border: 1px solid var(--white);
   border-radius: 8px;

}

.slider-go{
   width: 7px;
   height: 7px;
}
/* ==========mobile========= */
@media screen and (min-width: 335px) {
   .conteiner {
      width: 335px;
      padding: 122px 20px 40px;
      margin-left: auto;
      margin-right: auto;
   }

   .title-hero {
      width: 335px;
   }

   .slide-bcg{
      width: 266px;
      }
   .text-hero{
      width: 248px;
   }
 
   .hero-img{
      width: 100%;
      height: 410px;
   }
}

/* @media  and (min-width: 768px) {
   
} */