/* ----=  Modal =---- */
.backdrop {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   overflow-y: scroll;
   opacity: 1;
   visibility: visible;
   background-color: var(--modal-overlay);
   transition: opacity 250ms ease;
}

.is-hidden {
   opacity: 0;
   pointer-events: none;
   visibility: hidden;
}
.no-scroll {
 overflow: hidden;
}

.modal {
   padding: 40px 20px;
   background-color: var(--white);
   box-shadow: 0px 0px 223px rgba(0, 0, 0, 0.05), 0px 0px 130.6px rgba(0, 0, 0, 0.037963), 0px 0px 71.0296px rgba(0, 0, 0, 0.0303704), 0px 0px 36.2375px rgba(0, 0, 0, 0.025), 0px 0px 18.1704px rgba(0, 0, 0, 0.0196296), 0px 0px 8.77546px rgba(0, 0, 0, 0.012037);
   /* border-radius: 4px; */
   transition: transform var(--cubic),
       visibility var(--cubic);
}

.close-btn {
   position: absolute;
   top: 12px;
   right: 12px;
   width: 20px;
   height: 20px;
   cursor: pointer;
   stroke: var(--blacky);
   background-color: transparent;
   border: none;
   /* border-radius: 50%; */
   transition: background-color var(--cubic);
   transition: border-color var(--cubic);
}

.close-btn .icon {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 8px;
   height: 8px;
   transform: translate(-50%, -50%);
}

.close-btn:hover,
.close-btn:focus {
   background-color: var(--press-state);
   border-color: var(--press-state);
   stroke-opacity: 0.5;
}


.order .form-label {
   position: relative;
   display: block;
   padding-top: 18px;
   margin-bottom: 8px;
}

.order-label {
   margin-bottom: 12px;
   font-size: 12px;
   line-height: 1.17;
   letter-spacing: -0.02em;
   color: var(--blacky);
}


.input {
   padding: 7px 16px;
   font-size: 12px;
   line-height: 2;
   letter-spacing: 0.04em;
   color: var(--white-bg);
   opacity: 0.3;
   background-color: transparent;
   border: 1px solid var(--white-bg);
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
   border-radius: 4px;
}
.subscribe .input::placeholder{
   color: var(--white-bg);
   opacity: 0.6;
}

.order .input {
   width: 100%;

   font-size: 14px;
line-height: 18px;
/* identical to box height, or 129% */

letter-spacing: -0.02em;

color: rgba(20, 20, 20, 0.5);


   padding-left: 38px;
   color: #000000;
   border: 1px solid var(--modal-overlay);
   border-color: var(--hero-bg);
   border-color: var(--dark);
   border-radius: 4px;
}

.order .input:focus {
   outline: none;
   border-color: var(--pri-brand);
}

.order .input:focus+.order-label {
   transform: translate(-38px, -20px);
   color: var(--pri-brand);
}

.order .input:focus~.order-icon {
   fill: var(--pri-brand);
}

.order .input:not(:placeholder-shown)+.order-label {
   transform: translate(-38px, -20px);
}

.order .input:-webkit-autofill,
.order .input:-webkit-autofill:hover, 
.order .input:-webkit-autofill:focus {
 -webkit-text-fill-color: #000000;
 -webkit-box-shadow: 0 0 0px 40rem var(--modal-bg) inset;
}

.comment {
   display: flex;
   flex-direction: column;
   gap: 4px;
   margin-bottom: 16px;
}

.comment .label {
   font-size: 12px;
   line-height: 1.17;
   letter-spacing: 0.01em;
   color: var(--subtle-text);
}

.comment .textarea {
   resize: none;
   padding: 7px 15px;
   font-size: 12px;
   line-height: 1.17;
   letter-spacing: 0.04em;
   border: 1px solid var(--modal-overlay);
   border-radius: 4px;
}

.comment .textarea::placeholder {
   color: var(--modal-overlay);
}

.checkbox{
   display: flex;
   margin-bottom: 24px;
}
.checkbox .label{
   display: flex;
   justify-content: flex-start;
   align-items: center;
   flex-wrap: wrap;
   font-size: 12px;
   line-height: 1.17;
   letter-spacing: 0.04em;
   /* white-space: pre-wrap; */
   white-space: pre;
   color: var(--subtle-text);
}

.galka{
   margin-right: 8px;
   display: block;
   width: 16px;
   height: 16px;
   fill: transparent;
   background-color: transparent;
   border: 1px solid var(--modal-overlay);
   border-radius: 2px;
   transition: background-color var(--cubic);
}
.galka .icon{
   display: inline-block;
   width: 16px;
   height: 16px;
}

.checkbox .check:checked + .galka{
   background-color: var(--press-state);
   border: none;
   fill: var(--light);
}
.checkbox .check:focus + .galka{
   outline: 2px solid var(--pri-brand);
}

.checkbox a{
   text-decoration-line: underline;
   color: var(--pri-brand);

}
.submit-btn {
   padding: 16px 64px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   color: var(--white-bg);
   background: var(--pri-brand);
   border: none;
   transition: background-color var(--cubic);
}

.submit-btn:hover,
.submit-btn:focus {
   background-color: var(--press-state);
}


/* 
.order-icon {
   position: absolute;
   bottom: calc((100% - 18px) / 2);
   left: 16px;
   width: 18px;
   height: 24px;
   transform: translateY(50%);
} */