/* ----=  Modal =---- */
.backdrop {
   position: fixed;
   z-index: 777;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   overflow-y: scroll;
   opacity: 1;
   visibility: visible;
   /* bgc? */
   background-color: #fcfcfc;
   transition: opacity var(--cubic);
}

.is-hidden {
   opacity: 0;
   pointer-events: none;
   visibility: hidden;
}

.modal {
   max-height: 100vh;
   padding: 40px 20px;
   box-shadow: 0px 0px 223px rgba(0, 0, 0, 0.05), 0px 0px 130.6px rgba(0, 0, 0, 0.037963), 0px 0px 71.0296px rgba(0, 0, 0, 0.0303704), 0px 0px 36.2375px rgba(0, 0, 0, 0.025), 0px 0px 18.1704px rgba(0, 0, 0, 0.0196296), 0px 0px 8.77546px rgba(0, 0, 0, 0.012037);
   transition: transform var(--cubic),
       visibility var(--cubic);
}

.close-btn {
   position: absolute;
   top: 12px;
   right: 12px;
   width: 20px;
   height: 20px;
   cursor: pointer;
   stroke: var(--blacky);
   background-color: transparent;
   border: none;
   border-radius: 50%;
   transition: background-color var(--cubic),
   stroke var(--cubic), border-color var(--cubic);
}

.close-btn .icon {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 20px;
   height: 20px;
   transform: translate(-50%, -50%);
}

.close-btn:hover,
.close-btn:focus {
   background-color: var(--blacky);
   border-color: var(--blackye);
   stroke: var(--white);
   /* stroke-opacity: 0.5; */
}

.cart img{
   margin-left: auto;
   margin-right: auto;
}

.order .form-label {
   /* position: relative; */
   display: block;
   /* padding-top: 18px; */
   margin-bottom: 18px;
}

.order-label, .comment .label {
   display: block;
   margin-bottom: 12px;
   font-size: 12px;
   line-height: 1.17;
   letter-spacing: -0.02em;
   color: var(--blacky);
}

.input, .comment .textarea {
   padding: 12px 16px;
   width: 100%;
   font-size: 14px;
   line-height: 1.29;
   letter-spacing: -0.02em;
   border: 1px solid rgba(20, 20, 20, 0.5);
   border-radius: 8px;
}
.input::placeholder, .comment .textarea::placeholder{
   color: rgba(20, 20, 20, 0.5);
}

.order .input:-webkit-autofill,
.order .input:-webkit-autofill:hover, 
.order .input:-webkit-autofill:focus {
 -webkit-text-fill-color: #000000;
 -webkit-box-shadow: 0 0 0px 40rem var(--modal-bg) inset;
}

.comment {
   /* display: flex;
   flex-direction: column;
   gap: 4px; */
   display: block;
   margin-bottom: 20px;
}

/* .comment .label {
   font-size: 12px;
   line-height: 1.17;
   letter-spacing: 0.01em;
   color: var(--subtle-text);
} */

.comment .textarea {
   resize: none;
}

.submit-btn {
   padding: 18px 22px;
   margin-bottom: 12px;
   width: 100%;
   font-size: 12px;
   line-height: 1.17;
   text-align: center;
   text-transform: uppercase;
   color: #FFFFFF;
   background: #1E2827;
   border-radius: 8px;
   border: none;
   transition: background-color var(--cubic);
}

.submit-btn:hover,
.submit-btn:focus {
   border-color: var(--white);
   background-color: var(--grizzly);
}

.agree{
   font-size: 12px;
   line-height: 1.17;
   align-items: center;
   letter-spacing: -0.02em;
   color: rgba(20, 20, 20, 0.4);
}

/* 
.order-icon {
   position: absolute;
   bottom: calc((100% - 18px) / 2);
   left: 16px;
   width: 18px;
   height: 24px;
   transform: translateY(50%);
} */
@media screen and (max-width: 419px) {
   .modal {
       position: relative;
   }}

@media screen and (max-width: 374px) {
   .modal {
      position: relative;
      max-width: 100%;
   }
}
@media screen and (min-width: 375px) {
   .modal {
      width: 335px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(1);
  }
  .backdrop.is-hidden .modal {
      transform: translate(-50%, -50%) scale(1.5);
   }
}
@media screen and (min-width: 768px) {
   .modal {
      width: 744px;
      padding: 40px;
      display: flex;
      gap: 20px;
      align-items: flex-start;
   }
}
@media screen and (min-width: 1280px) {
   .modal {
      width: 904px;
      gap: 40px;
   }
}